
<div class="container my-3">
  <div class="row p-2 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 ">

    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">About the App</h1>
      <p class="lead">A step forward from the previous cookbook repository.
        This is the translation of a simple terminal app into a web app using Sinatra framework.
      </p>
      <p class="lead">If you wish, checkout my previous app:</p>

      <div class="card mt-4">
        <div class="card-body">
          <h2 class="h4 card-title">Cookbook Repository</h2>

          <div class="d-flex align-items-start mt-3">
            <span class="text-dark h4 mx-3"><i class="fab fa-github-alt"></i></span>
            <a href="https://github.com/cvaldivia83/Cookbook" class="card-link text-dark text-decoration-none">Terminal Cookbook App</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg mb-3">
      <img src="https://source.unsplash.com/V4MBq8kue3U/800x900" alt="recipes" class="img-fluid rounded-lg-3">
    </div>

  </div>
</div>
