<footer class="bg-dark text-center text-lg-start">

  <!-- Social Media -->
    <div class="container p-4 text-center">
      <section class="mb-4">
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/carla-cabrera-valdivia/" target ="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/cvaldivia83" target = "_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
  <!-- Social Media -->

  <!-- Text -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-light fw-bold text-decoration-none" href="https://mdbootstrap.com/">Coded with ⭐️ </p>
  </div>
  <!-- Text -->
</footer>
