<div class="row">
  <div class="col-10 col-lg-6 col-md-10 my-4 mx-auto mx-auto">
  <div class="card">
    <div class="overflow-hidden">
      <img src="images/macarons.jpg" alt="french-macarons" class="img-fluid rounded-lg-3">
    </div>
    <h1 class="card-title fw-bold mt-4 mx-5">Import a recipe</h1>
    <p class="mb-2 mx-5">Feeling lazy and you don't want another
      tab open? Don't worry, we've got you covered. Choose an ingredient and we import a recipe for you!
    </p>

    <form action="/ingredients" method="post" class="my-4">
      <div class="row">
        <div class="col-10 col-lg-7 mx-auto">
          <input type="text" name="ingredient" placeholder="Type your ingredient here" class="form-control">
        </div>
        <div class="col-10 col-lg-4 mx-lg-0 mx-auto">
          <button class="btn btn-dark fw-bold mt-2 mt-lg-0" type="submit" value="Import recipe">Import Recipe</button>
        </div>
      </div>
    </form>
  </div>

  </div>
</div>
