
<div class="card col-10 col-lg-6 col-md-10 mx-auto my-4 p-3 p-lg-0">
  <div class="overflow-hidden">
    <img src="images/cupcake.jpg" alt="cupcakes" class="img-fluid rounded-lg-3" height="371">
  </div>
  <h1 class="fw-bold mt-4 mx-5">Create a new recipe</h1>
  <p class="mb-2 mx-5">Fill the form with all the info to add a new recipe into your personal cookbook. </p>

  <form method="post" action="/recipes" class="mt-4">

    <div class="mb-4 col-12 col-md-8 col-lg-8 mx-auto">

      <label for="validationDefault01" class="form-label">Recipe's Title</label>
      <input type="text" name="title" class="form-control" id="recipe-title" placeholder="Define Your Yumminness">

      <label for="validationDefault01" class="form-label mt-3">Recipe's description</label>
      <textarea class="form-control" name="description" id="recipe-description" placeholder="Minimum: 50 characters" required></textarea>

      <div class="row">

        <div class="col-6">
          <label for="validationDefault01" class="form-label mt-3">Prep Time:</label>
          <input type="text" name="prep_time" class="form-control" id="recipe-prep_time" placeholder="x hrs yy mins">
        </div>

        <div class="col-6">
          <label for="validationDefault01" class="form-label mt-3">Rating</label>
          <input type="text" name="rating" class="form-control" id="recipe-rating" placeholder="Score 1 to 5">
        </div>

      </div>
      <button class="btn btn-dark mt-3 col-12 fw-bold" type="submit" value="Add to cookbook">Create New Recipe</button>
    </div>
  </form>
</div>
